Repository tarantool/tarantool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tarantool/doc, @tarantool/devx, @Totktonada

iproto: fix use-after-free in net_end_join
  changelogs/unreleased/gh-9037-fix-heap-use-after-free.md
  src/box/iproto.cc
Owners: @tarantool/doc

iproto: fix use-after-free in net_end_join
  changelogs/unreleased/gh-9037-fix-heap-use-after-free.md
  src/box/iproto.cc
Owners: @tarantool/doc

iproto: fix use-after-free in net_end_join
  changelogs/unreleased/gh-9037-fix-heap-use-after-free.md
  src/box/iproto.cc
Owners: @tarantool/doc

Deploying to gh-pages from @ tarantool/tarantool@4916389a3c1e86e6e6756a4b785799b2acca57ed 🚀
  api/html/annotated.html
  api/html/classes.html
  api/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
  api/html/files.html
  api/html/functions.html
  api/html/functions_vars.html
  api/html/globals.html
  api/html/globals_a.html
  api/html/globals_b.html
  api/html/globals_c.html
  api/html/globals_d.html
  api/html/globals_defs.html
  api/html/globals_enum.html
  api/html/globals_eval.html
  api/html/globals_f.html
  api/html/globals_func.html
  api/html/globals_func_b.html
  api/html/globals_func_c.html
  api/html/globals_func_f.html
  api/html/globals_func_l.html
  api/html/globals_func_s.html
  api/html/globals_i.html
  api/html/globals_l.html
  api/html/globals_m.html
  api/html/globals_n.html
  api/html/globals_o.html
  api/html/globals_p.html
  api/html/globals_s.html
  api/html/globals_t.html
  api/html/globals_type.html
  api/html/globals_u.html
  api/html/globals_vars.html
  api/html/index.html
  api/html/module_8h.html
  api/html/module_8h_source.html
  api/html/structbox__decimal.html
  api/html/unionPACKED.html
  api/xml/module_8h.xml
Owners: none

fiber: fix heap-buffer-overflow in fiber_stack_watermark_create
  changelogs/unreleased/gh-9026-fix-heap-buffer-overflow.md
  src/lib/core/fiber.c
  test/unit/fiber_stack.c
  test/unit/suite.ini
Owners: @tarantool/doc, @tarantool/devx

fiber: fix heap-buffer-overflow in fiber_stack_watermark_create
  changelogs/unreleased/gh-9026-fix-heap-buffer-overflow.md
  src/lib/core/fiber.c
  test/unit/fiber_stack.c
  test/unit/suite.ini
Owners: @tarantool/doc, @tarantool/devx

fiber: fix heap-buffer-overflow in fiber_stack_watermark_create
  changelogs/unreleased/gh-9026-fix-heap-buffer-overflow.md
  src/lib/core/fiber.c
  test/unit/fiber_stack.c
  test/unit/suite.ini
Owners: @tarantool/doc, @tarantool/devx

Deploying to gh-pages from @ tarantool/tarantool@750e4890028bddf8069fe90ee5686428d8a6ecdf 🚀
  api/html/annotated.html
  api/html/classes.html
  api/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
  api/html/files.html
  api/html/functions.html
  api/html/functions_vars.html
  api/html/globals.html
  api/html/globals_a.html
  api/html/globals_b.html
  api/html/globals_c.html
  api/html/globals_d.html
  api/html/globals_defs.html
  api/html/globals_enum.html
  api/html/globals_eval.html
  api/html/globals_f.html
  api/html/globals_func.html
  api/html/globals_func_b.html
  api/html/globals_func_c.html
  api/html/globals_func_f.html
  api/html/globals_func_l.html
  api/html/globals_func_s.html
  api/html/globals_i.html
  api/html/globals_l.html
  api/html/globals_m.html
  api/html/globals_n.html
  api/html/globals_o.html
  api/html/globals_p.html
  api/html/globals_s.html
  api/html/globals_t.html
  api/html/globals_type.html
  api/html/globals_u.html
  api/html/globals_vars.html
  api/html/index.html
  api/html/module_8h.html
  api/html/module_8h_source.html
  api/html/structbox__decimal.html
  api/html/unionPACKED.html
  api/xml/module_8h.xml
Owners: none

test: add error rethrow to :read_response() in `it`
  test/interactive_tarantool.lua
Owners: @tarantool/devx

test: disable ASAN for box/tx_man.test.lua
  test/box/tx_man.skipcond
Owners: @tarantool/devx

test: make fiber_stack.test tap-compatible
  test/unit/fiber_stack.c
  test/unit/fiber_stack.result
Owners: @tarantool/devx

test: add error rethrow to :read_response() in `it`
  test/interactive_tarantool.lua
Owners: @tarantool/devx

.github/CODEOWNERS:

# Documentation team is in charge of changelogs.
# No changes should go w/o approval by doc team
/changelogs/ @tarantool/doc
/.github/    @tarantool/devx
/test/       @tarantool/devx
/.test.mk    @tarantool/devx
/test-run/   @tarantool/devx
# Alexander Turenko wants to track all the activities around the
# declarative configuration.
/src/box/lua/config/  @Totktonada
/test/config-luatest/ @Totktonada
