Repository tarantool/tarantool, pull requests merged in 2021-07, with the labels that each got.

#6180 github-ci: add GitHub Actions workflow for Odroid
  .github/workflows/odroid_arm64.yml
  .github/workflows/odroid_debug_arm64.yml
  .travis.mk
Labels: teamQ

#6172 txm: skip ephemeral spaces while positioning iterator
  changelogs/unreleased/gh-6095-mvcc-ephemeral-spaces.md
  src/box/memtx_tree.cc
  src/box/memtx_tx.h
  test/box/tx_man.result
  test/box/tx_man.test.lua
Labels: mvcc

#6262 unit/fiber: disable error logging in fiber_stack.test
  test/unit/fiber_stack.c
  test/unit/fiber_stack.result
Labels: arm, flaky test
