Repository tarantool/tarantool, pull requests merged in 2021-09, with the labels that each got.

#6383 test: fix box/gh-5998-one-tx-for-ddl-errinj.test.lua
  test/box/gh-5998-one-tx-for-ddl-errinj.result
  test/box/gh-5998-one-tx-for-ddl-errinj.test.lua
Labels: flaky test

#6411 doc: changelog.md updates
  doc/changelogs.md
Labels: documentation

#6444 memtx: disable building index in background if primary index is hash
  changelogs/unreleased/gh-5977-build-index-in-background-with-hash-primary.md
  src/box/memtx_space.c
  test/box/gh-5977-inconsistency-on-shadow-build-with-hash-pk.result
  test/box/gh-5977-inconsistency-on-shadow-build-with-hash-pk.test.lua
Labels: memtx
